  <style type="text/css">
  
  .listview a { text-decoration:none; }
  .listview span { font-size:10px; }
  
  
  .active span { color:red; font-size:12px; }
  </style>

  <div data-role="page">

  <div data-role="panel" id="panel" data-position="right" data-theme="a" data-display="push"></div>

  <div data-role="header">
     <h1>Groups</h1>
  </div>

  <div data-role="content" role="main">
  
    <ul class="listview" data-role="listview" data-inset="true">
      <li data-role="list-divider" data-theme="a">Your groups (<%= current_user.groups.length %>)</li>
      <% current_user.groups.each do |group| %>
        <li>
          <% if group.assignments.where(finished: false).collect(&:user).first == current_user %>
            <a href="<%= url_for group %>" data-ajax="false" class="active">
              <%= group.title %> (<%= group.users.length %>)
              <span><br />
                <b>It's your turn, do your assignment!</b>
              </span>
            </a>
          <% else %>
            <a href="<%= url_for group %>" data-ajax="false">
              <%= group.title %> (<%= group.users.length %>)
              <span><br />
                  Active <%= time_ago_in_words group.updated_at %>
              </span>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="listview" data-role="listview" data-inset="true">
      <li data-role="list-divider" data-theme="a">All groups</li>
      <% @groups.each do |group| %>
        <li><a href="/groups/join/<%= group.id %>"><%= group.title %> (<%= group.users.length %>)<span><Br><b></b></span></a></li>
      <% end %>
    </ul>

    <a href="/users/sign_out" data-method="delete" rel="nofollow" style="text-decoration: none;"><button data-theme="d" class="ui-btn-hidden" data-disabled="false">Sign out</button></a>
   
</div>