     <style type="text/css">
 div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

.ui-body-c.ui-input-text {
border:0px;
}
</style>
     
<div data-role="page">



  <div data-role="header">
<a href="/groups" data-iconpos="notext" data-role="button" data-icon="home" title="Home" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-notext ui-btn-up-a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a">
    <span class="ui-btn-inner">
    <span class="ui-btn-text">Home</span>
    <span class="ui-icon ui-icon-back ui-icon-shadow">&nbsp;</span></span>
    </a>     <h1><%= @group.title %></h1>
   
  </div>

  <div data-role="content" role="main">
  

    <ul class="listview" data-role="listview" data-inset="true">
      <% if @active_user == current_user %>
        <li data-role="list-divider" data-theme="a">Your assigment</li>
        <li>"<%= @active_assignment[0].content %>"</li>

        <%= form_for @active_assignment[0], html: {:'data-ajax' => "false"} do |f| %>
          <div class="fileinputs" >
            <%= f.file_field :photo, :accept => "image/*", :capture => "camera", class: "file" %>
            <div class="fakefile">
              <button data-theme="f" class="ui-btn-hidden" data-disabled="false">Select Picture</button>
            </div>
          </div>
            <div id="fb2" style="display:none;"><button data-theme="g" class="ui-btn-hidden" data-disabled="false">Loading Picture... <img style="height:20px;" src="/assets/ajax-loader.gif"></button></div>


          <%= f.hidden_field :finished, :value => true %>

          <div class="ui-block-b">
            <button data-icon="flat-cross" data-theme="d" class="ui-btn-hidden" data-disabled="false" onClick="alert('No option');">Failed</button>
          </div>
          
          <br /><br /><br />
        <% end %>

      <% elsif !@active_user.blank? %>
        <li data-role="list-divider" data-theme="a"><%= @active_user.name %> assigment</li>
        <li>"<%= @active_assignment[0].content %>"</li>
      <% end %>

    </ul>
    
     <!-- <button class="ui-btn-hidden" data-disabled="false">Upload Picture</button> -->
     
    <% if !@active_user.blank? %>
      <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" data-theme="a"  data-disabled="false">Time-Left</li>
        <li id="tijd" class="time" style="padding:5px;"></li>
      </ul>
    <% end %>
    
    <ul class="listview" data-role="listview" data-inset="true">
      <li data-role="list-divider" data-theme="a">History</li>
      <% @assignments.order("updated_at DESC").each do |assignment| %>
        <% if assignment.finished %>
          <li><a href="<%= url_for assignment %>"><%= assignment.user.name %> (<%= time_ago_in_words assignment.updated_at %>)<span><Br><%= assignment.content %></span></a></li>
        <% end %>
      <% end %>
    </ul> 
  
    <ul class="listview" data-role="listview" data-inset="true">
      <li data-role="list-divider" data-theme="a">Members</li>
      <% @group.users.each do |user| %>
        <li><%= user.name %> <br><span>(<%= user.assignments.select{ |a| a.finished == true }.length %> completed)</span></li>
      <% end %>
    </ul> 

    <a href="/groups/leave/<%= @group.id %>" rel="nofollow" style="text-decoration: none;"><button data-theme="d" class="ui-btn-hidden" data-disabled="false">Leave group</button></a>
    
</div>

<script type="text/javascript">
<% if !@active_user.blank? %>
  function leftPad(number, targetLength) {
      var output = number + '';
      while (output.length < targetLength) {
          output = '0' + output;
      }
      return output;
  }

  function countDown(tijd)
  {
    var tijd = tijd - 1;
    var q = tijd / 3600;
    var qround = Math.floor(q);
    var tijd2 = tijd - qround * 3600;
    var x=tijd2%60;
    var z = tijd2/60;
    var y = Math.round(z);
    
    document.getElementById('tijd').innerHTML = leftPad(qround,2)+':'+leftPad(y,2)+':'+leftPad(x,2);
    setTimeout("countDown('"+tijd+"');", 1000);
  }
  countDown('<%= (@active_assignment[0].deadline - Time.now).round %>');
<% end %>



$('input[type=file]').change(function() { 
    // select the form and submit
    $('.fileinputs').css('display', 'none');
    $('#fb2').css('display', 'block');
    $('form').submit(); 
});     
     
</script>